/* box model webpage 2: ski resort card */

body {
  background-color: #463d36;
  text-transform: capitalize;
  font-family: sans-serif;
}
.card {
  width: 600px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: white;
  margin: 50px auto;
  padding: 40px;
}
#line1 {
  font-size: 28px;
  text-transform: uppercase;
  color: #a6192e;
  font-weight: bolder;
  margin-bottom: 0;
}
#line2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #463d36;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100;
}
#line3 {
  font-size: 28px;
  text-transform: none;
  margin-top: 28px;
}
.btn {
  font-size: 24px;
  text-transform: uppercase;
  border: 1px groove #463d36;
  background-color: #463d36;
  color: #fff;
  font-weight: bolder;
  padding: 30px 40px;
}
